
<!DOCTYPE html> <html lang="en"> <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Application</title>
    </head>
    <body>
    <!-- Header -->
    <header id="header">
    <nav>
    <div class="container">
    <div class="text-center">
    <a href="/" class="nav-brand text-dark">User Management System</a>
    </div>
    </div>
    </nav>
    <link rel="/crud_app/assets/css/style.css href="stylesheet">
    </header>
  
    
<main id="site-main">
    <div class="container">
    <div class="box-nav d-flex-justify-between">
    <a href="/add-user" class="border-shadow">
    <span class="text-gradient">New User <i class="fa fa-user"></i></span> </a> </div>
    <!-- form handling -->
    <form action="/" method="POST"> <table class="table">
    <thead class="thead-dark">
    <tr>
    <th>ID</th>
    <th>Name</th>
    <th>@Email</th>
    <th>Gender</th>
    <th>Status</th>
    <th>Action</th>
    </tr>
    <thead><tbody>
    </tbody>

        </table>
        <div>
            
<!-- form handling -->
<form method="POST" id="update_user"> <div class="new_user">
    <div class="form-group">
    <label for="name" class="text-light">Name</label>
    <input type="hidden" name="id" value="">
    <input type="text" name="name" value="" placeholder="Mark Stoenis"> </div>
    <div class="form-group">
    <label for="Email" class="text-light">Email</label>
    <input type="text" name="email" value="" placeholder="example@gmail.com"> </div>
    <div class="form-group">
    <label for="gender" class="text-light">Gender</label>
    <div class="radio inline">
    <input type="radio" name="gender" value="Male"> <label for="gender" class="text-light">Male</label> </div>
    <div class="radio inline">
    <input type="radio" name="gender" value="Male"> <label for="gender" class="text-light">Male</label> </div>
        </div>
    </body>
    </html>